@charset "UTF-8";

body/*configurações gerais*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.725);    
    color: white;     
}
main/*Configurações do contorno do celular*/
{   
    position: relative;
    padding: 10px;
    width: 360px; /* Largura para manter a proporção 18:9 */
    height: 720px; /* Altura fixa */
    border: 16px solid black;
    border-radius: 36px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);    
    overflow: hidden;
}

/*--------------------BARRA DE NOTIFICAÇÕES-----------------------*/
header
{
    background-color: rgba(0, 0, 0, 0.658);
    margin: -10px;
    padding: 10px;
    color: white;    
    width: fit-content;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;       
    border-radius: 0px;
}
#hora/*Configurações da hora na barra de notificações*/
{
    text-align:left;    
}
#notificacao/*Configurações da barra de notificações*/
{   
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 95px;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#notification-icons {
    display: flex;
    align-items: center;
}

/* Configurações do ícone de sinal na barra de notificações */
.fas.fa-wifi, .fas.fa-video, .fas.fa-microphone {
    font-size: 18px;
    color: #ffffff;
    margin: 0 10px;
}
#intnotifica/*COnfigura lista de notificações*/
{
    padding: 5px;
    text-align: center;
}

/*------------------------CORPO do Celular------------------------*/
section
{    
    z-index: -1;
    background-image:url(imagem1.jpg);   
    background-size: cover;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 655px;    
    width: 380px;              
}
#notifica/*Animação para abaixar as notificações no corpo do celular*/
{
    position: absolute;
    top: -100%;
    left: auto;      
    background-color: rgba(0, 0, 0, 0.8);
    color: white;     
    justify-content: center;
    align-items: center;
    transition: top 0.6s ease-in-out;    
    margin-top: 40px;
    margin-left: -10px;
    margin-bottom: 10px;
    height: 655px;    
    width: 380px;    
    z-index: 100;   
}
#configura
{
    position: absolute;
    bottom: -1700%;
    left: auto;      
    background-color: rgba(0, 0, 0, 0.85);
    color: white;     
    justify-content: center;
    align-items: center;
    transition: bottom 0.6s ease-in-out;    
    margin-top: 40px;
    margin-left: -10px;
    margin-bottom: 45px;
    height: 655px;    
    width: 380px;    
    z-index: 100;  
    text-align: center;
}
#brightness-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    z-index: 999; /* Certifique-se de que o overlay esteja acima do conteúdo principal */
   }
#brightness-control 
{       
    position: absolute;
    top: 60px;     
    background: rgba(166, 163, 163, 0.427);   
    border-radius: 5px;
    z-index: 3; /* Certifique-se de que o controle esteja acima do overlay */
}
/* Estilo do controle de brilho */
#brightness-control 
{     
    padding: 10px;
    width: 90%;
}

/* Estilo do interruptor */
.toggle-switch 
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;   
    top: 120px;         
    background: rgba(166, 163, 163, 0.427);   
    border-radius: 5px;
    width: 85%;
    padding: 20px;   
    text-align: center; /* Alinha o texto no centro do container */   
}

.switch-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    margin-left: 55px;
}

.switch-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.switch-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}


#invert-toggle {
    display: none;
}

#invert-toggle:checked + .switch-label .switch-button {
    background-color: #5900ff;
}

#invert-toggle:checked + .switch-label .switch-button::before {
    transform: translateY(-50%) translateX(20px);
}
.switch-text {
    margin-left: 50px; /* Ajuste o valor conforme necessário */
    font-size: 15px;   
    color: #ffffff; /* Ajuste a cor conforme necessário */
}

/* Inverter cores para o conteúdo, mas não para o vídeo */
.invert-colors {
    filter: invert(1);
}

#appcamera {
    filter: invert(0); /* Garante que a câmera não seja afetada */
}

#widthhora/*Configura width de hora*/
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 60px;
    font-size: 60px;
    text-align: center;   
    justify-content: center; 
    display: flex;
    margin-left: -10px;
}
#widthdata/*Configura o width de data*/
{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;   
    padding-bottom: 50px; 
    margin-left: -10px;
}
#icones1/*Configura tamanho e posição dos icones na pagina inicial*/
{    
    margin: 10px;
    padding: 23px;    
    display: flex;    
    align-items: center;        
    gap: 45px;
}/*Configura propriedades dos icones*/
#iconecalculadora
{
   width: 70px;
   height: 70px;      
   border-radius: 30%;   
   background-color: transparent;    
   display: flex;
   flex-direction: column;
   align-items: center; /* Centraliza o conteúdo dentro do contêiner */
   text-align: center; /* Centraliza o texto */
   color: rgb(255, 255, 255);
   border: none;
}/*COnfigura animação nos icones*/
#iconecalculadora:hover
{
    transform: scale(1.1);   
    transition: transform 0.2s;
}

/*-------------------------APP-------------------------*/


/*-----------------------CAMERA------------------------*/
#appcamera
{
    position: relative;
    height: 100%;
    width: auto;    
    border-radius: 10px;
    transform: scaleX(-1);
    z-index: 10;          
}
#camera
{    
    display: flex;
    justify-content: center;
    align-items: center;       
    height: 655px;    
    width: 380px;          
}
#capture-button/*Botão de captura da camera*/
{
    position: absolute;
    bottom: 30px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);    
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10; /* Certifique-se de que o botão esteja acima do vídeo */
    background-color: transparent;
    width: 60px;
}
#flip-button/*Botão de captura da camera*/
{
    position: absolute;
    bottom: 70px; /* Ajuste conforme necessário */
    left: 20%;
    justify-content: center; /* Alinha os botões horizontalmente ao centro */
    gap: 10px; /* Espaço entre os botões */      
    transform: translateX(-50%);     
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 11; /* Certifique-se de que o botão esteja acima do vídeo */
    background-color: transparent;
    width: 40px;
}
#capture-button:hover
{
    width: 65px;   
      
}
#flip-button:hover
{
    width: 41px;   
      
}
#fullscreen-photo 
{        
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Usa a altura total da tela */
    width: 100vw; /* Usa a largura total da tela */
    background: #000;  
    overflow: hidden; /* Garante que nada saia dos limites */
}  
#captured-photo 
{
    width: 100%; /* Faz a largura da imagem ocupar toda a largura do container */
    height: 100%; /* Faz a altura da imagem ocupar toda a altura do container */
    object-fit: cover; /* Faz a imagem cobrir todo o container, mantendo a proporção */
    transform: scaleX(-1); /* Inverte a imagem horizontalmente */
    position: relative;
    z-index: 30;
}  
#baixar 
{
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10; /* Certifique-se de que o botão esteja acima do vídeo */
    background-color: transparent;
    width: 60px; /* Ajuste conforme necessário */
    height: 60px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 50px;    
    z-index: 40;
}
#baixar i 
{
    font-size: 35px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}
#baixar span
 {
    font-size: 25px; /* Ajuste o tamanho do texto conforme necessário */
}
#baixar>i:hover
{
    font-size: 45px;
}

/*-----------------------GRAVADOR-------------------------*/
#gravador 
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 655px;
    width: 380px;
    position: relative;
    z-index: 60;
    padding-left: -10px;
    margin-left: -10px;
}
#recordingTime 
{
    margin: auto;
    font-size: 80px;
    margin-top: 80px; /* Espaço entre o tempo de gravação e os botões */
}
#recordingProgress 
{
    width: 60%;
    height: 30px;
    margin-bottom: 150px; /* Espaço entre o progresso e os botões */       
}
#audioPlayback
{    
    margin-bottom: 180px;    
    width: 90%;    
    margin-left: -15px;
}
#buttonsContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaço entre os botões */
}
button 
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:disabled 
{
    opacity: 0.5;
    cursor: not-allowed;
}
#recordIcon 
{
    width: 60px;
    height: auto;
    border-radius: 50%;    
    margin-bottom: 15px;     
}
#recordBtn img,
#stopBtn img 
{
    transition: width 0.2s; /* Transição suave para o hover */
}
#recordBtn:hover img,
#stopBtn:hover img 
{
    width: 65px; /* Manter o tamanho durante o hover */
}

/*-------------------------CALCULADORA-------------------------*/
#appcalculadora
{    
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 655px;    
    width: 380px;              
  }  
  #display 
  {
    background-image: url('frame.png');
    background-size: contain;
    width: 98%;
    height: 73px;
    margin-bottom: 40px;        
    padding: 10px;
    margin-top: 70px;    
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    padding-right: 20px; /* Espaço entre o texto e a borda direita */
    box-sizing: border-box;     
    font-weight: 800;
    margin-left: -8px;
    
  }  
  .texto-calculadora
  {
    color: white; 
    text-align: right;   
    font-size: 30px; 
  }
  
  #calculadora/*Configura tamanho e posição dos icones na pagina inicial*/
  {    
      margin: 10px;
      padding: 10px;    
      display: flex;    
      align-items: center;        
      gap: 45px;
      margin-left: 6px; 
      
  }/*Configura propriedades dos icones*/
  #calculadora-icones
  {
     width: 50px;
     height: 50px;      
     border-radius: 30%;   
     background-color: transparent;    
     display: flex;
     flex-direction: column;
     align-items: center; /* Centraliza o conteúdo dentro do contêiner */
     text-align: center; /* Centraliza o texto */
     color: rgb(255, 255, 255);
     border: none;
  }/*COnfigura animação nos icones*/
  #calculadora-icones:hover
  {
      transform: scale(1.1);   
      transition: transform 0.2s;
  }

/*------------------------CONFIGURAÇÃO------------------------*/
#appconfiguracao
{
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 655px;    
    width: 380px;   
}
#textconfig
{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}
#config1 {
    margin-left: -5px;
    display: inline;    
    margin-top: 20px;     
    background: rgba(0, 0, 0, 0.754);   
    border-radius: 5px;
    z-index: 60; /* Certifique-se de que o controle esteja acima do overlay */
    width: 98%;
    border-radius: 5px;
    padding: 25px;
    color: white;
    text-align: left;    
    transform: scale(0.90);       
    transition: transform 0.5s ease; 
    font-size: 18px;
}
#appconfiguracao i
{
    margin-left: 10px;
    margin-right: 10px;
}
#config1:hover {
    margin-left: 1px;
    transform: scale(1.1); /* Leve aumento ao passar o mouse */
    transition: transform 0.5s ease;
     /* Ajuste o padding para criar o efeito de aumento */
    
}

/* Estado ativo */

/* Estado não ativo */

#config2
{
    color: #d8d8d8;
    padding-left: 20px;
    
}
#creditos
{   
    position: absolute;
    padding-top: 200px;
    font-size: 18px;
    text-align: center;
    bottom: 80px;
    left: 20px;
    color: #989898;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*----------pagina de configurações de tela----------*/
#appconfigtela
{
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 655px;    
    width: 380px; 
}
#configtela1
{  
    display: flex;           
    background: rgba(0, 0, 0, 0.648);   
   
    z-index: 60; /* Certifique-se de que o controle esteja acima do overlay */
    width: 100%;
    height: 100%;           
    color: white;      
    font-size: 18px;           
}
#configtela1>#brightness-control {
    margin-left: 7px;
    display: flex;
     /* Alinha itens em coluna */
    justify-content: center; /* Alinha itens verticalmente ao centro */
    align-items: center; /* Alinha itens horizontalmente ao centro */
    
}
#configtela1>.toggle-container
{
    margin-left: 7px;    
}
#wallpaper
{
    margin-left: -5px;
    color: white;
    position: absolute;
    top: 280px;     
    left: 19px;
    width: 90%;
    text-align: center;    
    border-radius: 5px;
    z-index: 3; /* Certifique-se de que o controle esteja acima do overlay */
}
#wallpaper>span
{      
 font-size: 15px;
 color: rgb(255, 255, 255);   
}
#protecao-de-tela
{
    margin-top: -265px;
    padding: 23px;
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre as fotos */
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
}
#protecao-de-tela img {
    max-width: 100px; /* Largura máxima das fotos */
    height: 200px; /* Mantém a proporção das fotos */
    border-radius: 8px; /* Adiciona bordas arredondadas (opcional) */
    opacity: 100%;
    transition: opacity 0.3s ease;
    transition: transform 0.5s ease 0.1s;; 
}
#protecao-de-tela img:hover 
{
    opacity: 90%;    
    transform: scale(1.1, 1.1); /* Leve aumento ao passar o mouse */
    transition: transform 0.5s ease 0.1s;; 
}
.disable-hover img {
    pointer-events: none; /* Desabilita eventos de ponteiro */
    opacity: 0.3; /* Opcional: reduz a opacidade das imagens desativadas */
}
/*----------pagina de configurações | Sobre o projeto----------*/

/*-------------------------NAVEGAÇÂO-------------------------*/
footer/*Configura espaço*/
{
    background-color: rgba(0, 0, 0, 0.658);
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    color: white;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative; /* Posiciona o footer relativamente ao layout */
}
.nav-button/*Configura tamanho e posição dos botões de navegação*/
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;    
    outline: none;
}
.back-button::before/*VOLTAR*/
{
    content: "◀"; /* Triângulo para voltar */
    font-size: 35px;    
}

.home-button::before/*INICIO*/
{
    content: "●"; /* Círculo para voltar à tela inicial */
    font-size: 40px;
}

.history-button::before /*HISTORICO*/
{    
    content: "■"; /* Quadrado para ver o que estava utilizando */
    font-size: 30px;    
}
.nav-button:hover/*Configura animação dos botões de navegação*/
{
    background-color: #6b6b6b;
}
